.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 5vw;
    height: 100%;
    padding-bottom: 20px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}