.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--primary-color);
    width: 6vw;
    min-width: 90px;
    max-width: 120px;
    padding-bottom: 20px;

    height: 200vh;
    top: 0;                     
    left: 0;                    
    z-index: 1000;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}