.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-montserrat);
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: var(--page-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.title {
    color: #1e1e1e;
    font-family: var(--font-montserrat);
    font-weight: 800;
}

.form {
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.formItem {
    width: 80%;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.label {
    font-size: 12px;
    font-weight: 800;
    font-family: var(--font-poppins);
}

.input {
    outline: none;
    border: none;
    width: 100%;
    height: 39px;
    background-color: var(--page-background);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    padding-inline: 10px;
}

.textsPasswords {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    gap: 5px;
    font-size: 8px;
    font-weight: 400;
    font-family: var(--font-poppins);
}

.exclamationIcon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.changeWidth {
    width: 50%;
}