.button {
    width: 177px;
    height: 33px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: auto;
    border: 1px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--font-poppins);
}

.primary {
    background-color: var(--primary-color);
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}