:root {
  --primary-color: #2D8A87;
  --primary-font-color: #0000007A;
  --bg-header: #113d3b;
  --text-color: #fff;
  --page-background: #f3f3f3;
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  
}

a {
  color: inherit;
  text-decoration: none;
}
