.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-montserrat);
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.content {
    width: 100%;
    min-height: 100vh;
    background-color: var(--page-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.title {
    color: #1e1e1e;
    font-family: var(--font-montserrat);
    font-weight: 800;
}

.form {
    background-color: #FFFFFF;
    width: 80%;
    max-height: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.formItem {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.label {
    font-size: 12px;
    font-weight: 800;
    font-family: var(--font-poppins);
}

.input {
    outline: none;
    border: none;
    width: 100%;
    height: 39px;
    background-color: var(--page-background);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    padding-inline: 10px;
}

.formRow {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.changeWidth {
    width: 50%;
}

.textAreaContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: var(--page-background);
}

.optionsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
    gap: 10px;
    width: 100%;
}

.AddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 30px;
    border-radius: 20px;
    border: solid 1px #dddddd;
    background-color: #dddddd;
    font-family: var(--font-poppins);
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.AddButtonSelected {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}