.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-montserrat);
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: var(--page-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.title {
    color: #1e1e1e;
    font-family: var(--font-montserrat);
    font-weight: 800;
}